

body	{ width: 100%; }
div	{ box-sizing: border-box; }
.hidden	{ display: none; }
#open span { display: inline-block; position:fixed; top:10px; right: 10px; z-index: 100; cursor: pointer; width: 48px; height: 48px;  border-radius: 5px; background-color:#112;}
span#hamburger_entity  { animation: overflowswitch .8s;}
span#hamburger_cover  { animation: cover 1s ease-in-out;  z-index: 101; opacity: 0;}
#open div	{ position: absolute; top :0; left: 0; width: 80%; height: 2px; border-radius: 2px; background-color:#ccd; transform: translateY(-50%); transform-origin: left; transition: .4s ;}
#open div:first-child	{ animation: rotate5 .8s ease-in-out;  top: 20%; left: 10%;}
#open div:nth-child(2)	{ animation: rotate6 .8s ease-in-out;  top: 40%; left: 10%; }
#open div:nth-child(3)	{ animation: rotate7 .8s ease-in-out;  top: 60%; left: 10%; }
#open div:nth-child(4)	{ animation: rotate8 .8s ease-in-out; top: 80%; left: 10%; }
#checker:checked ~ #open_box	{ position: fixed; border-color: #0f0; height: 100vh; top:0; }
#checker:checked ~ #open div:first-child	{ animation: rotate1 .8s ease-in-out ;  transform: rotate(-405deg); }
#checker:checked ~ #open div:nth-child(2)	{ animation: rotate2 .8s ease-in-out; transform: rotate(-315deg); }
#checker:checked ~ #open div:nth-child(3)	{ animation: rotate3 .8s ease-in-out;  transform: rotate(-225deg); }
#checker:checked ~ #open div:nth-child(4)	{ animation: rotate4 .8s ease-in-out;  transform: rotate(-135deg); }
#checker:checked ~ #open div	{ position: absolute; top: 50%; left: 50%; width: 50%; }
@keyframes cover    { 0%{ opacity: 1;} 70%{ opacity: 1;}100%{ opacity: 0; }}
@keyframes overflowswitch   { 0%{overflow: hidden;}99%{overflow: hidden;}100%{overflow: visible;}}
@keyframes rotate1 { 0%{ transform: rotate(0); top: 20%; left: 10%;} 25%{ top: 50%;} 50%{ transform: rotate(270deg); left: 50%;} 100%{ width: 50%; transform: rotate(315deg)} }
@keyframes rotate2 {
     0%{ transform: rotate(0); top: 40%; left: 10%;}
    25%{ top: 50%;} 
    50%{ transform: rotate(270deg); left: 50%;}
    100%{ width: 50%; transform: rotate(405deg)} }
@keyframes rotate3 { 0%{ transform: rotate(0); top: 60%; left: 10%;} 25%{ top: 50%;} 50%{ transform: rotate(270deg); left: 50%;} 100%{ width: 50%; transform: rotate(495deg)} }
@keyframes rotate4 { 0%{ transform: rotate(0); top: 80%; left: 10%;} 25%{ top: 50%;} 50%{ transform: rotate(270deg); left: 50%;} 100%{ width: 50%; transform: rotate(585deg)} }

@keyframes rotate6 { 0%{ top: 50%; left: 50%;width: 50%; transform: rotate(-405deg)} 50%{ top: 60%; left: 40%} 100%{ transform: rotate(0); top: 20%; left: 10%;}  }
@keyframes rotate7 { 0%{ top: 50%; left: 50%;width: 50%; transform: rotate(-315deg)} 50%{top: 60%; left: 40%}  100%{ transform: rotate(0); top: 40%; left: 10%;}  }
@keyframes rotate8 { 0%{ top: 50%; left: 50%;width: 50%; transform: rotate(-225deg)} 50%{top: 60%; left: 40%}  100%{ transform: rotate(0); top: 60%; left: 10%;}  }
@keyframes rotate5 { 0%{ top: 50%; left: 50%;width: 50%; transform: rotate(-135deg)} 50%{top: 60%; left: 40%}  100%{ transform: rotate(0); top: 80%; left: 10%;}  }

#open_box	{ position: fixed; top: -1px; width: 100%; height: 0; 
    transition: .8s ease-in-out; overflow: hidden; background-color: rgba(16,16,32,.7);}
.ob_text    { display: inline-block; color: #cde; font-size: 1.6rem; margin: 1.6rem 3.2rem; padding: 0 1rem;}
#ob_name    { font-size: 1.8rem; margin: 20vh 1.6rem 0;}
#ob_title   { margin: 0 0 1.6rem 1.6rem; }
@media screen and (min-width: 521px){
    #hamburger  { display: none;}
}