

h2.name { color: #123; }
h3.name { font-weight: normal; color: #789;}
#avatar { width: 100%; height: 0; padding-bottom: 100%; background: url("../img/about/about_01.jpg") no-repeat center top; background-size: 150%, cover;}
#profile    { width: 100%; margin: 5px 0 30px;border: 1px solid #f00; font-size: .8rem; }
#profile th { font-weight: normal;}
.about_text { margin: 5px 0 40px; }
h2 ~ h2 { color: green; }
h3 ~ h3 { color: red; }
.icon   { position: relative; padding-left: 15px; }
h3.icon::before {  content: "f"; position: absolute; top: 50%; left: 0px; transform: translateY(-55%); display: inline-block; width: 0; height: 0; overflow: hidden; border: 10px solid transparent; border-left-color: red; }

h2.pagetitle { color: #123; }
.subtitle   { position: relative; background-color: inherit; font-weight: normal; color: #567; overflow: hidden;}
.subtitle ~ .subtitle   { margin-top: 30px; }
.subtitle span  { padding-right: .8rem; }
.subtitle::after    { position: absolute; content: " "; top: 50%; transform: translateY( -50%); display: inline-block; width: 100%; height: 2px; background: linear-gradient(90deg, #789,transparent 70%); }

h4.subheader    { color: #789; }
#works_thumb_list   { padding: 5px 0 0; }
a[class^="works_thumb"]    { display: block; margin-bottom: 20px; background-position: center; background-size: contain; background-repeat: no-repeat; }
.works_thumb_web    { width: 100%; padding-bottom: 80%; transition: .4s;}

.works_thumb_design { width: 256px; height: 256px; background-size: contain; background-repeat: no-repeat;}
.works_thumb_design>label   { display: block; width: 100%; height: 100%; }
a[class^="works_thumb"]:active    {background-size: 120%, 120% ;}
.works_thumb_logo   { width: 80%; padding-bottom: 80%; margin: 0 auto; transition: .4s; }

@media screen and ( max-width: 520px ){
    nav,#avatar>#pagetop,.modal_wrap { display: none; }
    .modal_wrap ~ div>label {display:none;}
    .modal_wrap ~ div>a { display: inline-block; width: 100%; height: 100%;}
    

    
}
@media screen and (min-width: 521px){

    .main   { max-width: 1366px; margin: 0 auto; position: relative; }
    
    nav { width: 100%; position: absolute; top: 20px; right: 20px; text-align: right;}
    nav>a   {  margin-left: 3%; font-size: 1.3rem; }
    
    #about  { padding-top: 50px; }
    h3.name { font-size: 1.3rem; }
    #avatar { position: relative; padding-bottom: calc(95vh - (67px + 50px)); margin-bottom: 5vh;}
    #avatar>#pagetop    { position: absolute; bottom: 20px; left: 50%; transform: translateX( -50% ) rotate( 45deg); animation: open_arrow .8s ease-out ; }
    #avatar>#pagetop:active,#avatar>#pagetop:hover  { animation: bound2 .4s ease-in-out infinite alternate;}
    #avatar>#pagetop::before    {top: 85%; left: -47%; background: linear-gradient(-90deg,#fe8, transparent);}
    #avatar>#pagetop::after     { left: 85%; top: -47%; background: linear-gradient(0deg,#fe8, transparent);}

    .modal_wrap ~div>a  { display: none; }
    #works_thumb_list   { display: grid; gap: 40px; grid-template-columns: repeat(auto-fit,minmax(360px,1fr));}  
    a.works_thumb_web   {   padding-bottom: 80%; margin-bottom: 0; }
    #works_thumb_list ~ #works_thumb_list  {grid-template-columns: repeat(auto-fit,minmax(270px,1fr)); }
    a.works_thumb_logo  { margin: 0; width: 100%; padding-bottom: 100%;}

}
@keyframes open_arrow   { 0%{ bottom: 80px; opacity:0;} 100%{ bottom: 20px; opacity: 1;}}
@keyframes bound2 { 0%{ bottom: 20px} 100%{ bottom: 0}  }
